/*  Resets
--------------------------*/
*, *::before, *::after {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

/* Ideal Viewport-Fix for IE */
@-ms-viewport {
  width: device-width; }

/*  Cleafix
--------------------------*/
.clearfix::before, .clearfix::after {
  content: "";
  display: table; }

.clearfix::after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/*  Vars
--------------------------*/
/*  Main Content
--------------------------*/
html {
  font-family: Open Sans, Helvetiva Neue, Helvetica, Calibri, sans-serif;
  font-size: 12pt; }

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em; }

table, img, iframe {
  max-width: 100%;
  height: auto; }

.wrapper h1 {
  margin-bottom: 1em; }

h1 a, h1 a:visited, h1 a:active {
  color: inherit;
  text-decoration: none; }

/*  Header
--------------------------*/
header .title {
  background: -webkit-gradient(linear, left top, left bottom, from(#606c88), to(#3f4c6b));
  background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.9); }
  header .title img {
    height: 32px;
    width: 37px;
    float: left;
    margin-top: 10px;
    margin-left: 10px; }
  header .title h1 {
    font-size: 1.4em;
    line-height: 1.8;
    padding: 0.4em 0.6em;
    color: #eaf4ff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    display: inline-block;
    float: left; }

nav {
  background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#333333));
  background: -webkit-linear-gradient(top, #404040 0%, #333333 100%);
  background: linear-gradient(to bottom, #404040 0%, #333333 100%);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid black;
  padding: 0.5em 0.5em;
  margin-bottom: 0.8em; }

nav ul li {
  display: inline-block; }
  nav ul li a {
    margin: 0.6em 0.6em;
    font-size: 11pt;
    color: #ddd;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
            transition: color 0.3s ease; }
    nav ul li a:hover {
      color: #fff; }

@media only screen and (max-width: 768px) { }

@media only screen and (max-width: 450px) {
  nav ul li {
    display: block; }
    nav ul li a {
      display: block;
      margin: 0.9em 0.7em; } }

/*  Temperatur
--------------------------*/
.getdata {
  margin: 0 auto;
  text-align: center; }

.newdata {
  margin: 1.4em 1em;
  font-size: 1.1em; }

.newdata p {
  display: inline-block; }

.newdata--enter {
  font-size: 12pt;
  padding: 0.2em 0.3em;
  margin: 0 0.2em;
  width: 4em;
  border: 1px solid rgba(0, 0, 0, 0.4); }

.newdata--submit {
  font-size: 12pt;
  padding: 0.2em 0.4em;
  margin-left: 1em;
  background: #c8d4f5;
  color: #fff;
  border: 1px solid #606c88;
  background-color: #606c88;
  border-radius: 5px; }
  .newdata--submit:active, .newdata--submit:hover {
    background-color: #7a86a1;
    border: 1px solid #7a86a1; }

ul.last {
  margin: 1em auto;
  text-align: center;
  font-size: 10pt; }

ul.last li {
  display: inline-block;
  margin: 0 0.5em;
  border: 1px solid #606c88;
  background-color: #606c88;
  color: #fff;
  padding: 4px 8px;
  border-radius: 5px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s; }
  ul.last li:hover, ul.last li:active {
    background-color: #7a86a1;
    border: 1px solid #7a86a1; }
  ul.last li a {
    text-decoration: none;
    color: inherit; }

#flot-placeholder {
  max-width: 80%;
  height: 300px;
  margin: 0 auto; }

@media only screen and (max-width: 768px) {
  #flot-placeholder {
    max-width: 738px; } }

/*  Sensors
--------------------------*/
.sensors {
  max-width: 700px;
  margin: 1em auto; }
  .sensors td {
    border: 1px solid #666;
    padding: 0.2em 0.5em 0.2em 0.5em; }

td.sensors--status {
  border: none;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }
  td.sensors--status i {
    margin: 0 0.3em 0 0.7em; }

.sensors--status__red {
  color: #f00; }

.sensors--status__green {
  color: #26d21e; }

.sensors--edit i {
  margin: 0 0.2em; }
.sensors--edit a {
  color: inherit; }

.sensors--add p {
  display: inline-block;
  border-radius: 6px;
  color: #1a7111;
  -webkit-transition: color ease 0.2s;
          transition: color ease 0.2s; }
  .sensors--add p:hover {
    color: #259d18; }
  .sensors--add p i {
    margin-right: 0.2em;
    font-size: 1.2em; }
  .sensors--add p a {
    color: inherit;
    text-decoration: none; }

/*  Kamera
--------------------------*/
.frame iframe {
  border: 1px solid black; }

/*  Userverwaltung
--------------------------*/
.users {
  max-width: 700px;
  margin: 1em auto; }
  .users td {
    border: 1px solid #666;
    padding: 0.2em 0.5em 0.2em 0.5em; }

td.users--status {
  border: none; }
  td.users--status i {
    margin: 0 0.3em 0 0.7em; }

.users--status__red {
  color: #f00;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }

.users--status__green {
  color: #26d21e;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }

.users--edit i {
  margin: 0 0.2em; }

.users--edit a {
  color: inherit; }

.users--add p {
  display: inline-block;
  border-radius: 6px;
  color: #1a7111;
  -webkit-transition: color ease 0.2s;
          transition: color ease 0.2s; }
  .users--add p:hover {
    color: #259d18; }
  .users--add p i {
    margin-right: 0.2em;
    font-size: 1.2em; }
  .users--add p a {
    color: inherit;
    text-decoration: none; }

/*  Icons
--------------------------*/
.fa-pencil-square-o {
  color: #510966;
  -webkit-transition: color ease 0.2s;
          transition: color ease 0.2s; }
  .fa-pencil-square-o:hover {
    color: #750d95; }

.fa-refresh {
  color: #1a7111;
  -webkit-transition: color ease 0.2s;
          transition: color ease 0.2s; }
  .fa-refresh:hover {
    color: #259d18; }

.fa-power-off {
  color: #114171;
  -webkit-transition: color ease 0.2s;
          transition: color ease 0.2s; }
  .fa-power-off:hover {
    color: #185a9d; }

.fa-remove {
  color: #991d1d;
  -webkit-transition: color ease 0.2s;
          transition: color ease 0.2s; }
  .fa-remove:hover {
    color: #c42525; }
