/*  Imports
--------------------------*/

// Reset
@import '_resets';

// Fonts
@import '_font-awesome';
@import '_weather-icons';

/*  Vars
--------------------------*/

$gradient-color1: #3f4c6b;
$gradient-color2: #606c88;
$debug-color: #8922e0;
$error-color: #e02222;

/*  Main Content
--------------------------*/

html {
    font-family: Open Sans, Helvetiva Neue, Helvetica, Calibri, sans-serif;
    font-size: 12pt;
}

body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

body {
    background: #ffffff;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em 1em;
}

table, img {
    max-width: 100%;
}

.wrapper h1 {
    margin-bottom: 1em;
    @media screen and (max-width: 450px) {
        font-size: 1.5em;
        word-break: break-all;
        hyphens: auto;
    }
}

h1 a, h1 a:visited, h1 a:active {
    color: inherit;
    text-decoration: none;
}

.msg__inline {
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0.5em 0.8em;
}
.error {
    background: lighten($error-color, 40%);
    border: 1px solid $error-color;
}
.debug {
    background: lighten($debug-color, 40%);
    border: 1px solid $debug-color;
}


/*  Header
--------------------------*/

header .title {
    background: linear-gradient(to bottom, $gradient-color2 0%, $gradient-color1 100%);
    border-bottom: 1px solid rgba(0,0,0,0.9);

    img {
        height: 32px;
        width: 37px;
        float: left;
        margin-top: 10px;
        margin-left: 10px;
    }
    h1 {
        font-size: 1.4em;
        line-height: 1.8;
        padding: 0.4em 0.6em;
        color: #eaf4ff;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
        display: inline-block;
        float: left;
    }
}

nav[role="navigation"] {
    position:relative;
    width: 100%;
    background: linear-gradient(to bottom, #404040 0%,#333333 100%);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(0,0,0,1);
    padding: 0.5em 0;

    ul {
        li {
            display: inline-block;

            a {
                margin: 0.6em 0.6em;
                font-size: 11pt;
                color: #ddd;
                text-decoration: none;
                transition: color 0.3s ease;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

nav[role="navigation"] input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

nav[role="navigation"] label {
    display:none;
    cursor: pointer;
    user-select:none;
}

@media screen and (max-width: 450px) {
    nav[role="navigation"] {
        ul {
            display:none;
            height:100%;
        }

    label {
        color: #ddd;
        position: relative;
        display: block;
        width: auto;
        font-size: 1.1em;
        padding: 0.3em 0.5em;
    }

    input[type=checkbox]:checked ~ label {
        color: #ddd;
    }

    input[type=checkbox]:checked ~ ul {
        display:block;

        > li {
            display: block;

        &:first-child a {
            margin-top: 0.5em;
        }
        &:last-child a {
            margin-bottom: 0.5em;
        }

            a {
                display: block;
                margin: 0.9em 0 0.9em 1.8em;

                i {
                    width: 1.4em;
                }
            }
        }
    }
    }
}


/*  Wetter
--------------------------*/

table.weather {
    margin: 1em 0;

    td {
        border: 1px solid #000;
        padding: 0.2em 0.3em;
    }

    .weather--icon {
        font-size: 5em;
        text-align: center;
        border: 0;
    }
    .weather--meta {
        border: 0;
    }
    .weather--temp {
        font-size: 1.8em;
    }
    .weather--text {
        font-size: 1em;
        text-align: center;
    }
    .weather--descr {
        font-size: 0.8em;
        font-weight: 700;
    }
}
.weather--next-week td:nth-child(1) {
    background-color: darken(#d9ecff, 0%);
}
.weather--next-week td:nth-child(2) {
    background-color: darken(#d9ecff, 2%);
}
.weather--next-week td:nth-child(3) {
    background-color: darken(#d9ecff, 4%);
}
.weather--next-week td:nth-child(4) {
    background-color: darken(#d9ecff, 6%);
}
.weather--next-week td:nth-child(5) {
    background-color: darken(#d9ecff, 8%);
}
.weather--next-week td:nth-child(6) {
    background-color: darken(#d9ecff, 10%);
}
.weather--next-week td:nth-child(7) {
    background-color: darken(#d9ecff, 12%);
}
.weather--next-week td:nth-child(8) {
    background-color: darken(#d9ecff, 14%);
}

.weather--next-week td {
    text-align: center;
    float: left;
    width: 27%;
    margin: 2px;
}
.weather--next-week p:first-child {
    margin-bottom: 0.3em;
    text-decoration: underline;
}


/*  Temperatur
--------------------------*/

.getdata {
    margin: 0 auto;
    text-align: center;
}
.newdata {
    margin: 1.4em 1em;
    font-size: 1.1em;
}
.newdata p {
    display: inline-block;
    margin: 0.2em 0;
}
.newdata--enter {
    font-size: 12pt;
    padding: 0.2em 0.3em;
    margin: 0 0.2em;
    width: 4em;
    border: 1px solid rgba(0,0,0,0.4);
}
.newdata--submit {
    font-size: 12pt;
    padding: 0.3em 0.4em;
    margin-left: 1em;
    background: #c8d4f5;
    color: #fff;
    border: 1px solid #99682e;
    background-color: #99682e;
    border-radius: 5px;
    -webkit-appearance: none;
    transition: all 0.25s ease;

    &:active, &:hover{
        background-color: darken(#99682e, 10%);
        border: 1px solid darken(#99682e, 10%);
    }
}

ul.last {
    margin: 1em auto;
    text-align: center;
    font-size: 12pt;
}
ul.last li {
    display: inline-block;
    margin: 0.4em 0.5em;
    border: 1px solid $gradient-color2;
    background-color: $gradient-color2;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    transition: all 0.25s ease;

    &:hover, &:active{
        background-color: lighten($gradient-color2, 10%);
        border: 1px solid lighten($gradient-color2, 10%);
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

#flot-placeholder {
    max-width: 80%;
    height: 300px;
    margin: 0 auto;
}


/*  Sensors
--------------------------*/

.sensors {
    max-width: 700px;
    margin: 1em auto;

    td {
        border: 1px solid #666;
        padding: 0.2em 0.5em 0.2em 0.5em;
    }
}
td.sensors--status {
    border: none;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.3);

    i {
        margin: 0 0.3em 0 0.7em;
    }
}
.sensors--status__red {
    color: #f00;
}
.sensors--status__green {
    color: #26d21e;
}
.sensors--name {
}
.sensors--edit {

    i {
        margin: 0 0.2em;
    }
    a {
        color: inherit;
    }
}

.sensors--add p {
    display: inline-block;
    border-radius: 6px;
    color: #1a7111;
    transition: color ease 0.2s;
    &:hover {
        color: lighten(#1a7111, 10%);
    }
    i {
        margin-right: 0.2em;
        font-size: 1.2em;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}


/*  Kamera
--------------------------*/

body.iframe img {
    max-width: 100%;
}

.frame {
    margin: 0.5em 0;

    iframe {
        width: 768px;
        max-width: 100%;
        border: 0;
    }
}

@media only screen and (max-width: 788px) {
    .frame {
        position: relative;
        padding-bottom: 75%;
        padding-top: 35px;
        height: 0;
        overflow: hidden;

        iframe {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

/*  Userverwaltung
--------------------------*/

.users {
    max-width: 700px;
    margin: 1em auto;

    td {
        border: 1px solid #666;
        padding: 0.2em 0.5em 0.2em 0.5em;
    }
}
td.users--status {
    border: none;
    i {
        margin: 0 0.3em 0 0.7em;
    }
}
.users--status__red {
    color: #f00;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.users--status__green {
    color: #26d21e;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.users--name {
}
.users--edit {
}
.users--edit i {
    margin: 0 0.2em;
}
.users--edit a {
    color: inherit;
}

.users--add p {
    display: inline-block;
    border-radius: 6px;
    color: #1a7111;
    transition: color ease 0.2s;
    &:hover {
        color: lighten(#1a7111, 10%);
    }
    i {
        margin-right: 0.2em;
        font-size: 1.2em;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}


/*  Icons
--------------------------*/

.fa-pencil-square-o {
    color: #510966;
    transition: color ease 0.2s;
    &:hover {
        color: lighten(#510966, 10%);
    }
}
.fa-refresh {
    color: #1a7111;
    transition: color ease 0.2s;
    &:hover {
        color: lighten(#1a7111, 10%);
    }
}
.fa-power-off {
    color: #114171;
    transition: color ease 0.2s;
    &:hover {
        color: lighten(#114171, 10%);
    }
}
.fa-remove {
    color: #991d1d;
    transition: color ease 0.2s;
    &:hover {
        color: lighten(#991d1d, 10%);
    }
}
